[Unit]
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/fluentbit
ExecStartPre=-/bin/podman rm -f %N
ExecStartPre=-/bin/podman pull $FLUENTIMAGE
ExecStart=/bin/podman run \
  --entrypoint /opt/td-agent-bit/bin/td-agent-bit \
  --net=host \
  --hostname `hostname` \
  --name fluent-journal \
  --rm \
  -v /etc/fluentbit/journal.conf:/etc/fluentbit/journal.conf \
  -v /var/lib/fluent:/var/lib/fluent:z \
  -v /var/log:/var/log:ro \
  -v /etc/machine-id:/etc/machine-id:ro \
  $FLUENTIMAGE \
  -c /etc/fluentbit/journal.conf

ExecStop=/bin/podman stop %N
Restart=always

[Install]
WantedBy=multi-user.target